In [1]:
import pandas as pd
import os
import csv
import unicodedata
import re

In [2]:
working_dir = os.path.expanduser("~/projects/NLP/NLP-language-detection/data")

In [3]:
with open(f"{working_dir}/lao_news_2019_300K/train.txt", encoding="utf-8") as f:
    lines = f.read().splitlines()   # keep each line as one string

df = pd.DataFrame(lines, columns=["text"])
df

                                                     text
0       ຖ້າ ເຈົ້າ ຮູ້ສຶກ ຢ້ານ ທີ່ ຈະ ປະກາດ ຂໍ ໃຫ້ ຊ້ອມ...
1       ຄົນ ຕໍ່າ ຕ້ອຍ ຈໍານວນ ຫຼາຍ ຄົງ ຈະ ຫຼົບ ຫຼີກ ຜູ້...
2       21 ບັດ ນີ້ເມື່ອລາຊິນີ ເຫັນ ຄວາມ ຢ້ານ ກົວ ຂອງ ພ...
3       ການ ຕັດສິນ ໃຈ ທີ່ ຈະ ປ່ຽນແປງ ກໍ ເປັນ ຂອງ ທ່ານ ...
4       ການ ເລືອກ ທີ່ ພວກ ເຈົ້າ ເຮັດ ໃນ ເວລາ ນີ້ ມີ ຄວ...
...                                                   ...
299995  ພາຍຫຼັງໄດ້ກໍ່ເຫດແລ້ວກໍໄດ້ເອົາໂຕລົບໜີ ເຈົ້າໜ້າທ...
299996  ເຖິງຢ່າງໃດກໍຕາມ, ທ່ານ ອັບບັດ ລຸກອອກຈາກຫ້ອງປະຊຸ...
299997  ພືດຕະກູນຖົ່ວ  ສາມາດຊ່ວຍຫຼຸດລະດັບຄໍເລສຕໍຣອລ ແລະ...
299998                              ມູນຄ່າກໍ່ສ້າງມະຫາສານ,
299999  ສ່ວນຕະຫລາດຈຳໜ່າຍ 100% ແມ່ນສົ່ງ ອອກຂາຍຕ່າງປະເທດ...

[300000 rows x 1 columns]

In [4]:
df_train = df.iloc[:240000].copy()
df_test = df.iloc[240000:].copy()

In [5]:
df_train

                                                     text
0       ຖ້າ ເຈົ້າ ຮູ້ສຶກ ຢ້ານ ທີ່ ຈະ ປະກາດ ຂໍ ໃຫ້ ຊ້ອມ...
1       ຄົນ ຕໍ່າ ຕ້ອຍ ຈໍານວນ ຫຼາຍ ຄົງ ຈະ ຫຼົບ ຫຼີກ ຜູ້...
2       21 ບັດ ນີ້ເມື່ອລາຊິນີ ເຫັນ ຄວາມ ຢ້ານ ກົວ ຂອງ ພ...
3       ການ ຕັດສິນ ໃຈ ທີ່ ຈະ ປ່ຽນແປງ ກໍ ເປັນ ຂອງ ທ່ານ ...
4       ການ ເລືອກ ທີ່ ພວກ ເຈົ້າ ເຮັດ ໃນ ເວລາ ນີ້ ມີ ຄວ...
...                                                   ...
239995  ພວກ​ເຂົາ​ເຈົ້າ​ໄດ້​ນຳ​ໃຊ້​ເຄື່ອງ​ຈັກ​ດັ່ງ​ກ່າວ...
239996  ເລີ່ມ​ດື່ມ​ນ້ຳ​ໃນ​ຕອນ​ເຊົ້າ​ໃນ​ມື້​ທົດ​ສອບ ຫຼື...
239997  ເພື່ອ​ໃຫ້​ໄດ້​ຮັບ​ການ​ຕອບ​ຮັບ, ໜຶ່ງ​ໃນ​ວິ​ທີ​ທ...
239998                                 ປັບປຸງຕູ້ເສື້ອຜ້າ.
239999  ມັນຢູ່ທີ່ນີ້ຢູ່ເທິງສຸດຂອງອາຄານທີ່ມີປ່ອງຢ້ຽມນັບ...

[240000 rows x 1 columns]

In [6]:
df_test

                                                     text
240000  ເຈົ້າສາມາດເວົ້າພາສາຂອງພວກເຮົາໄດ້ບໍ, ຫຼືເຈົ້າເປ...
240001  ຂ້ອຍຮູ້ສຶກຂອບໃຈຫຼາຍ, ທ່ານນາງ, ແຕ່, ນີ້, ຂ້ອຍມີ...
240002  ຜູ້ຈັດການຂອງຂ້ອຍຕ້ອງການຮູ້ວ່າເປັນຫຍັງຂ້ອຍບໍ່ໄດ...
240003                ມັນພຽງແຕ່ເຮັດໃຫ້ພວກເຮົາຮູ້ສຶກບໍ່ດີ.
240004  ເພື່ອກວດສອບວ່າ: ເຈົ້າເຂົ້າໄປໃນຫນຶ່ງໃນເກມຂອງລາວ...
...                                                   ...
299995  ພາຍຫຼັງໄດ້ກໍ່ເຫດແລ້ວກໍໄດ້ເອົາໂຕລົບໜີ ເຈົ້າໜ້າທ...
299996  ເຖິງຢ່າງໃດກໍຕາມ, ທ່ານ ອັບບັດ ລຸກອອກຈາກຫ້ອງປະຊຸ...
299997  ພືດຕະກູນຖົ່ວ  ສາມາດຊ່ວຍຫຼຸດລະດັບຄໍເລສຕໍຣອລ ແລະ...
299998                              ມູນຄ່າກໍ່ສ້າງມະຫາສານ,
299999  ສ່ວນຕະຫລາດຈຳໜ່າຍ 100% ແມ່ນສົ່ງ ອອກຂາຍຕ່າງປະເທດ...

[60000 rows x 1 columns]

In [7]:
def clean_text(s):
    s = ''.join(
        ch for ch in s
        if (
            unicodedata.category(ch)[0] in ['L', 'N']   # Letters & Numbers
            or ch in " .,!?;:'\"-–()[]{}"               # basic punctuation
            or ch in "\n\r\t "                          # whitespace
        )
    )
    # Collapse multiple whitespace into a single space
    s = re.sub(r"\s+", " ", s).strip()
    return s

In [8]:
# Clean the data
df_train["text"] = df_train["text"].apply(clean_text)

# Add labels
df_train["label"] = "lo"         

df_train.to_csv(f"{working_dir}/clean_data/train.txt", mode='a', index=False, header=False, columns=["text", "label"], sep="\t", quoting=csv.QUOTE_NONE)

In [9]:
# Clean the data
df_test["text"] = df_test["text"].apply(clean_text)
      
df_test.to_csv(f"{working_dir}/clean_data/test.txt", mode='a', index=False, header=False, columns=["text"], sep="\t", quoting=csv.QUOTE_NONE)